# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
pnpm-lock.yaml

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.test
.env.production
.env.build
eas.json
app.json

# example configuration files
!.env.example
!eas.example.json
!app.example.json

# typescript
*.tsbuildinfo

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test files
test-results.log
test_output.log
user.json

# Expo generated
# Android SDK Tools
commandlinetools-linux-*.zip
android/app/src/main/AndroidManifest.xml
